.img {
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.buttonWrapp {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}