.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.margin-top--25 {
    margin-top: 25px;
}

.test {
    padding: 5px;
    background-color: rgba(109, 109, 112, 0.7);
    padding: 20px;
}