.nav {
margin-left: 10px;
text-decoration: none;
color: black;
font-weight: bold;
border: solid 2px;
background-color: #1f2833;
border-radius: 5px;
color: #45a29e;
padding: 10px;
margin-bottom: 20px;
}

.navWrapper {
    width: 100%;
    display: flex;
    justify-content: start;
}